/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
}

div {
  border: 2px solid black;
  display: inline-block;
  margin: 8px;
  padding: 14px;
  width: 650px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 7px;
}

h2 {
  border-bottom: 1px solid black;
  border-top: 30px solid black;
  font-weight: bold;
  padding: 16px 0;
}

header {
  border-bottom: 15px solid black;
}

p {
  font-family: "Helvetica Black", Arial;
  height: 1.1rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
}

thead {
  border-bottom: 1px solid black;
}

dt {
  font-weight: bold;
}

table dl {
  font-weight: 400;
  text-align: left;
}

table td {
  font-weight: bold;
  text-align: right;
}

td dt {
  font-weight: 400;
}

header dl {
  display: inline-block;
  padding: 5px 0;
  width: 49%;
}

thead th {
  text-align: right;
}

dt, dd {
  display: inline;
}

header dl + dl {
  text-align: right;
}

.indentation {
  display: inline-block;
  width: 30px;
}