extends layout

block my_content
  p Sint nulla sunt fugiat consectetur. Non elit dolore proident commodo.
  p In fugiat tempor anim cupidatat incididunt ea id.
  p Occaecat reprehenderit incididunt laborum minim cupidatat.

block my_footer
  p Copyright Me &copyr; 2019